* {
  border: 1px solid black;
}
.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
}

.moles-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single {
  display: flex;
  justify-content: center;
}

img {
  width: 10%;
}